* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.5em;
  grid-template: 200px auto 100px / auto;
}

/* images */

img {
  width: 100%;
  height: auto;
}

.title-logo {
  width: 200px;
}

/* HTML TAG */

.header {
  height: 90px;
  padding: 37px 17px 0 17px;
  display: grid;
  grid-template: auto / auto auto;
  gap: 1em;
}

p {
  padding: 13px 0;
  margin: 0;
}

/* =================
Layout
================= */

/* navigation */

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 13px;
}

li a {
  line-height: 13px;
  text-decoration: none;
  color: black;
}

/* main-section */

main {
  margin-bottom: 34px;
}

/* recent article section */
.article-recent {
  padding: 0 20px;
}

/* FOOTER */
.footer {
  background-color: brown;
  color: white;
}

/* nav {
  grid-column-end: 2 / -2;
} */

/* .article-hero {
  position: relative;
  width: 100%;
}

.hero-date {
  position: absolute;
  top: 61px;
  left: 16px;
  margin-top: 87px;
}

.hero-title {
  position: absolute;
  top: 167px;
  left: 16px;
}

.hero-body {
  position: absolute;
  top: 217px;
  left: 16px;
} */
