* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* images */

.title-logo {
  margin-top: 11px;
  height: 37px;
}

.hero-post {
  background-image: url("images/hero-post-background-image.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

/* =================
Layout
================= */

.container {
  width: 100%;
  border: 1px solid rebeccapurple;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 17px;
}

.hero-post {
  margin: 0;
}

/* navigation */

nav ul {
  list-style: none;
  display: flex;
  gap: 13px;
}

li a {
  line-height: 13px;
  text-decoration: none;
  color: black;
}
