* {
  box-sizing: border-box;
}

/* header, */

footer {
  border: 2px solid red;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(100px, minmax(100px, 1fr));
  font-family: "Source Sans Pro";
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1em 1.25em; /* 17px 20px */
}

.title-logo {
  width: 63%;
}

nav {
  justify-self: end;
  font-weight: 600;
}

nav ul {
  list-style: none;
  align-items: center;
  display: flex;
  gap: 2em;
}

li a {
  font-size: 1rem; /* 14px */
  line-height: 15px;
  color: #090909;
  text-decoration: none;
}

/* IMAGES */
img {
  object-fit: cover;
  width: 100%;
}

/* ARTICLE*/
article {
  display: grid;
  grid-template-rows: repeat(4, minmax(0.5em, auto));
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  padding: 1.25em; /* 20px */
}

.article-img {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.article-date {
  margin-top: 0.875em; /* 14px */
  margin-bottom: 0;
}

.article-title {
  margin: 0.25em 0; /* 8px */
}

.article-date,
.article-title {
  grid-column: 1;
}

.article-body {
  grid-column: 1 / -1;
  margin-top: 0;
  white-space: pre-wrap;
  font-size: 1rem; /* 16px */
  line-height: 20px;
}

/* ARITCLE ONE */

.article-one {
  padding: 0;
  color: whitesmoke;
}

.article-one .article-date {
  grid-row: 2;
  padding-left: 1.25em; /* 20px */
  font-size: 1rem; /*16px */
}

.article-one .article-title {
  padding-left: 20px; /* 20px */
  grid-row: 3;
  font-weight: 700;
  line-height: 102.8%;
  letter-spacing: -0.03em;
  font-size: 32px; /* 32px */
  word-wrap: break-word;
  width: 300px;
}

.article-one .article-body {
  grid-row: 4;
  padding-left: 1.25em; /* 20px */
  width: 374px;
  margin-bottom: 1.56em; /* 25px */
}
